/*
"Be aware of the many CSS selectors available: https://www.w3schools.com/cssref/css_selectors.asp.
That way, you can intuitively pick the right one for any context...eventually."
*/


/************************************************************
********** For Mobile/Narrow Viewport **********
************************************************************/

/* Remember I worked with FEM's mobile demo at zoom 8. */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    padding: 0 30px 0 30px; /* Using this instead of "width: 90%", or something like it, on <main>. Remember padding doesn't always "expand outwards"; most of the time it actually eats into the space of its child, as is the case here. */
    /*background:
        url("../../assets/img/bg-pattern.svg")
            no-repeat
            scroll
            0px 0px / 0px 0px; WILL HAVE TO SET THESE */
}

/****************************************
header
****************************************/

header div {
    text-align: center;
    margin-top: 118px;
}

header h1 {
    font-size: 27px;
    margin-bottom: 0;
    color: hsl(227, 35%, 25%);
}

header p {
    margin-top: 11px;
    font-size: 17px;
    max-width: 53%; /* This is a good way of getting this element's text's line break in the right place (so it matches that of the FEM demo). */
    margin-left: auto; /* needed because of max-width just above */
    margin-right: auto; /* needed because of max-width just above */
    line-height: 1.7;
    color: hsl(225, 20%, 60%);
}

/****************************************
main
****************************************/

main {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 91px;
    padding-top: 34px;
    background-color: #d9f7f7; /* Just while positioning, then delete */
    /* background-color: hsl(0, 0%, 100%); ADD ONCE POSITIONING IS SET*/
    border-radius: 10px;
}

main h1 {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    color: hsl(225, 20%, 60%);
}

/* Note: This is where the range slider would go. For info on it, reference "notes" document. */

main p {
    color: hsl(227, 35%, 25%);
    font-size: 43px;
    font-weight: 800;
    display: flex; /* This and the below two lines are to vertically center the "main p span". */
    justify-content: center;
    align-items: center;
}

main p span:nth-of-type(2) {
    color: hsl(225, 20%, 60%);
    font-size: 19px;
    font-weight: 600;
    margin-left: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
    color: hsl(225, 20%, 60%);
}

.main-top ul {
    padding-bottom: 40px; /*needs to be edited*/
    display: flex;
    justify-content: center; /*may need to be changed*/
}

.main-top li:nth-of-type(3) span {
    margin-left: 4px;
    padding: 3px 11px 4px 11px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 800;
    color: hsl(14, 78%, 65%); /* This color was not provided */
    background-color: hsl(25, 90%, 92%); /* This color was not provided */
}

/*Making a line without any HTML (e.g., <hr>) for it.*/
.main-top::after {
    cursor: auto;
    content: '';
    display: block;
    border-bottom: 1.5px solid hsl(210, 50%, 95%); /* I found this color. I know in the FEM demo the "line" might actually be the box-shadowing between two elements...But since I'm making it all one element, I'm using this line. */
    margin-bottom: 30px;
}

.main-bottom li {
    margin-bottom: 13px;
}

.main-bottom li:nth-of-type(3) {
    margin-bottom: 42px;
}

.main-bottom img {
    width: 12px;
    height: 10.666px;
    margin-right: 20px;
}

button {
    background-color: hsl(227, 35%, 25%);
    border: none;
    color: hsl(223, 50%, 87%);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    padding: 16px 60px;
    border-radius: 40px;
    margin-bottom: 38px;
}

/****************************************
footer
****************************************/

.attribution {
    /* margin: 0; want this?*/
    /* margin-bottom: 6px; want this?*/
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%); /*hsl(hue, saturation, lightness)*/
}

/************************************************************
********** For Desktop/Wide Viewport **********
************************************************************/

/* @media screen and (min-width: 850px) {*/ /* starting at width of 850px, the code below (which is only for CHANGES to the above code) will take effect. */




    /****************************************
    header
    ****************************************/



    /****************************************
    main
    ****************************************/




    /****************************************
    footer
    ****************************************/


/* } */













/* KEEP THIS AS A REFERENCE:
parent {
    display: flex;    mandatory 
    flex-direction: ;    row (default) | row-reverse | column | column-reverse 
    justify-content: ;    flex-start (default) | flex-end | center | space-between | space-around | space-evenly 
    align-items: ;    flex-start | flex-end | center | (baseline) | stretch (default) 
    flex-wrap: ;    nowrap (default) | wrap | wrap-reverse 
    align-content: ;    flex-start | flex-end | center | space-between | space-around | stretch (default) 
}

child {
    align-self: ;    flex-start | flex-end | center | (baseline) | stretch (default)
    flex-grow: ;    0 is default 
    flex-shrink: ;    1 is default 
    flex-basis: ;    auto is default 
    order: ;    0 is default 
}
*/